<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>


<body onload="redirect()"></body>
<div class=" container d-flex flex-column w-50 my-2">
  <h1 class="text-center text-uppercase mt-5"> BIENVENIDO <%= user.nombre%>
  </h1>
    <img src="/uploads/<%=user.image%>" style="height: 250px;">
    <div>
      <h2 class=" text-uppercase">
        <%= user.nombre %>
      </h2>
      <p>Edad: <%= user.edad %>
      </p>
      <p>Email: <%= user.email %>
      </p>
      <p>Direccion: <%= user.direccion %>
      </p>
      <p>Numero: <%= user.telefono %>
      </p>
      </p>
      <p>Email: <%= user.username %>
      </p>
    </div>
    <a class="btn" href="/api/home">HOME</a> 
</div>
</body>

</html>